body {
	margin: 0;
	padding: 0;
}

#course-planner {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 640px;
    font-size: 11px;
    font-family: sans-serif;
}

#course-planner article {
	background: #ecebe9;
}

#course-planner section .legend, 
#course-planner section .usage {
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    width: 320px;
    margin: 40px 10px;
    z-index: 200;
    background-color: rgba(184, 184, 255, 0.9);
    visibility: hidden;
}

#course-planner .holder {
    padding: 0 5px 5px 5px;
    width: 355px;
    height: 610px;
    margin: 0;
}

#course-planner button {
    cursor: pointer;
    border: none;
    outline: none;
    width: 22px;
    height: 30px;
    opacity: .6;
    background-position: right;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 15px;
    top: -600px;
    position: relative;
}

#course-planner .usage p {
    line-height: 0;
    float: left;
    clear: right;
    padding-left: 5px;
}

#course-planner .usage span {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 15px;
    display: block;
    clear: left;
    float: left;
    background-position: center center;
}

#course-planner button.info {
    background-image: url(../img/info.png);
}

#course-planner button.colors, 
#course-planner .usage span#color-icon {
    background-image: url(../img/colors.png);
}

#course-planner button.more, 
#course-planner .usage span#more-icon {
    background-image: url(../img/more.png);
}

#course-planner .usage span#click-icon {
    background-image: url(../img/click.png);
}

#course-planner .usage span#more-icon,
#course-planner .usage span#color-icon {
    background-size: 10px 10px;
    margin-left: 10px;
} 

/*Color Legend*/

#course-planner section .title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
}
#course-planner section .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
#course-planner section .legend-scale ul li {
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
#course-planner section ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    margin-left: 0;
    border-radius: 50%;
    opacity: 0.8;
}